.builders {
   padding-top: 100px;
   @include responsiveness(phone) {
    padding-top: 70px;
  }

   &__wrapper {
      @include row(space-between);
      @include responsiveness(tab-land) {
          @include column(space-between);
          align-items: flex-start;
          margin-left: 45px;
      }
      @include responsiveness(phone) {
        margin-left: 0;
      }
   }

   &__title-wrapper {
        display: flex;
        align-items: flex-start;
   }

   &__title {
        @include title;
    }

   &__desc {
        @include text;
        margin-top: 20px;
        margin-bottom: 30px;
        max-width: 80%;
        @include responsiveness(tab-land) {
          max-width: none;
        }
    }

    &__image {
        @include responsiveness(tab-land) {
          margin-top: 20px;
          width: 100%;
        }
        @include responsiveness(phone) {
          margin-top: 50px;
          height: 300px;
        }
      }
  }
  