.builders {
  margin: 180px 0;
  position: relative;
   padding-top: 100px;
   @include responsiveness(tab-land) {
    padding-top: 70px;
    margin-top: 80px;
    margin-bottom: 650px;
  }
  @include responsiveness(tablet) {
    margin-top: 40px;
  }
   @include responsiveness(phone) {
    margin-top: 10px;
    margin-bottom: 380px;
  }

   &__wrapper {
      @include row(space-between);
      @include responsiveness(tab-land) {
          @include column(space-between);
          align-items: flex-start;
      }
   }

   &__title-wrapper {
        display: flex;
        align-items: flex-start;
        position: relative;
   }

   &__icon {
      position: relative;
      bottom: -5px;
   }

   &__title {
        @include title;
    }

   &__desc {
        @include text;
        margin-top: 20px;
        margin-bottom: 30px;
        max-width: 80%;
        @include responsiveness(tab-land) {
          max-width: none;
        }
    }

    &__image {
      position: absolute;
      right: 0;
        @include responsiveness(tab-land) {
          margin-top: 20px;
          width: 100%;
          top: 330px;
        }
        @include responsiveness(phone) {
          margin-top: 50px;
          height: 300px;
          top: 270px;
        }
      }
  }
  