.getstarted {
    margin-top: 30px;
    padding-top: 60px;
    background: $color-bg;
    @include responsiveness(tab-land){
        margin-top: 120px;
    }  

    &__wrapper {
        @include row(flex-start);
        align-items: center;
    }

    &__left-wrapper {
        @include row(flex-end);
        padding-right: 38px;
        width: 30%;
        @include responsiveness(phone){
            display: none;
        }
    }

    &__right-wrapper {
        @include row(flex-start);
        padding-left: 38px;
        border-left: 1px solid $color-black;
        width: 70%;
        padding-bottom: 20px;
        @include responsiveness(phone){
            width: 100%;
            border-left: none;
            padding-left: 23px;
        }
    }

    &__content-right-wrapper {
        @include row(flex-start);
        padding-left: 38px;
        padding-top: 40px;
        padding-bottom: 50px;
        border-left: 1px solid $color-black;
        width: 70%;
        cursor: pointer;
        @include responsiveness(phone){
            width: 100%;
            border-left: none;
            padding-left: 25px;
        }
        &.border {
            border-bottom: 1px solid $color-black; 
        }
        &.noborder {
            border-bottom: none; 
        }
    }

    &__desc {
        @include text;
        padding-top: 14px;
        text-align: right;
        max-width: 80%;
        @include responsiveness(tab-land){
            max-width: 100%;
            font-size: 13px;
        }
    }

    &__title {
        @include title;
    }

    &__arrow {
        color: $color-black;
        font-size: 20px;
        &.active {
            transform: rotate(90deg); 
        }
    }

    &__content-wrapper {
        padding-left: 45px;
        padding-right: 10px;
    }

    &__content-title {
        font-size: 74px;
        line-height: 120%;
        color: $color-black;
        font-family: $font-secondary;
        @include responsiveness(tablet){
            font-size: 64px;
            line-height: 100%;
        }
        @include responsiveness(phone){
            font-size: 50px;
            line-height: 100%;
        }
    }

    &__content-desc {
        @include text;
        padding-top: 42px;
        max-width: 70%;
        @include responsiveness(tablet){
            font-size: 18px;
            line-height: 120%;
        }
        @include responsiveness(phone){
            font-size: 14px;
            line-height: 110%;
            max-width: 100%;
            padding-top: 32px;
        }
    }
}