.header {
  @include row(space-between);
  height: 13vh;
  padding: 0;
  transition: all 0.3 ease-in;
  @include responsiveness(phone) {
    padding: 3.6rem 0;
  }
  &__wrapper {
    transition: all 0.3 ease-in;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: all 0.2s ease-in;
    & .header {
      padding: 0;
      height: 13vh;
      transition: all 0.2s ease-in;
    }
    &.--fixed {
      background: $color-white;
      box-shadow: 1px 7px 40px 0px rgba(0, 0, 0, 0.15);
      & .header {
        padding: 1.5rem;
        @include responsiveness(phone) {
          padding: 0.8rem 0;
        }
      }
    }
  }
  &__nav {
    display: block;
    @include responsiveness(tablet) {
      display: none;
    }
  }
  &__nav-items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
  }
  &__nav-item:not(:last-child) {
    margin-right: 36px;
  }
  &__nav-links {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: $color-black;
    cursor: pointer;
  }
}
