.header {
  @include row(space-between);
  z-index: 9999999999999;
  position: relative;
  height: 90px;
  padding: 0;
  transition: all 0.3 ease-in;
  @include responsiveness(phone) {
    padding: 3.6rem 0;
  }
  &__logo {
    @include responsiveness(phone){
      display: none;
    }
  }
  &__logo-sm {
    display: none;
    @include responsiveness(phone){
      display: block;
    }
  }
  &__wrapper {
    transition: all 0.3 ease-in;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: all 0.2s ease-in;
    & .header {
      padding: 0;
      height: 90px;
      transition: all 0.2s ease-in;
    }
    &.--fixed {
      background: $color-white;
      box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.15);
    }
  }
  &__nav {
    display: block;
    @include responsiveness(tab-land) {
      display: none;
    }
  }
  &__nav-items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
  }
  &__nav-item {
    @include row(center);
  }
  &__nav-item:not(:last-child) {
    margin-right: 36px;
  }
  &__arrow {
    margin-left: 8.17px;
    transform: rotate(90deg); 
  }
  &__nav-links {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: $color-black;
    cursor: pointer;
  }
}
