.header {
  @include row(space-between);
  z-index: 9999999999999;
  position: relative;
  height: 90px;
  padding: 0;
  transition: all 0.3 ease-in;
  @include responsiveness(phone) {
    height: 80px;
  }
  &__logo {
    @include responsiveness(phone){
      display: none;
    }
  }
  &__logo-sm {
    display: none;
    @include responsiveness(phone){
      display: block;
    }
  }
  &__wrapper {
    transition: all 0.3 ease-in;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: all 0.2s ease-in;
    &.header {
      padding: 0;
      height: 90px;
      transition: all 0.2s ease-in;
      @include responsiveness(phone) {
        height: 80px;
      }
    }
    &.--fixed {
      background: $color-white;
      box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.15);
    }
  }
  &__nav {
    display: block;
    @include responsiveness(tab-land) {
      display: none;
    }
  }
  &__nav-items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    @include responsiveness(tab-land) {
      &.mobile {
        margin: 0;
        padding: 30px 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
      }
    }
  }
  &__nav-item {
    @include row(center);
    &.mobile {
      @include row(flex-end);
    }
  }
  &__nav-item:not(:last-child) {
    margin-right: 36px;
  }
  &__arrow {
    margin-left: 8.17px;
    transform: rotate(90deg); 
  }
  &__nav-links {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: $color-black;
    cursor: pointer;

  }
  &__btn {
    @include responsiveness(tab-land){
      display: none;
    }
  }
  &__hamburger {
    display: none;
    @include responsiveness(tab-land){
      display: block;
      @include column(center);
      gap: 5px;
    }
  }
  &__hamburger-line {
      width: 26px;
      height: 3.5px;
      background: $color-black;
  }
  &__mobile {
    display: none;
    @include responsiveness(tab-land){
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      background: $color-white;
      z-index: 9999999999999;
      padding: 20px;
      width: 50%;
      @include column(flex-start);
      align-items: flex-start;
      box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.15);

    }
    &.fade-out {
      @include keyframes(fadeOut){
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
      @include animate(fadeOut, .5s, ease, 1);
      display: none;
    }
    &.fade-in {
      @include keyframes(fadeIn){
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      @include animate(fadeIn, .5s, ease, 1);
    }
  }
  &__hamburger-line-mobile {
    font-size: 28px;
    font-weight: 500;
    
  }
}
