.hero {
    @include row(center);
    height: 100vh;
    background-color: $color-white;
    width: 100%;
    @include responsiveness(phone){
      margin-top: 30px;
    }

    &__wrapper {
      @include row(space-between);
      @include responsiveness(tab-land) {
        @include column(space-between);
        margin-top: 200px;
      }
      & > img {
        @include responsiveness(tablet) {
          width: 530px;
          height: 583px;
        }
        @include responsiveness(phone) {
          width: 327px;
          height: 359.7px;
        }
      }
    }

    &__content {
        max-width: 50%;
        position: relative;
        z-index: 2;
        @include responsiveness(tab-land) {
          max-width: 100%;
        }
    }

    &__title {
        @include title;
    }

    &__text {
      &.black {
        color: $color-black;
        @include keyframes(fadeInBlack){
          0% { opacity: 0; }
          100% { opacity: 1; }
        }
        @include animate(fadeInBlack, 1.5s, ease, 1);
      }
      &.green {
        color: #00BFA6;
        @include keyframes(fadeInGreen){
          0% { opacity: 0; }
          100% { opacity: 1; }
        }
        @include animate(fadeInGreen, 1.5s, ease, 1);
      }
      &.red {
        color: #FF0000;
        @include keyframes(fadeInRed){
          0% { opacity: 0; }
          100% { opacity: 1; }
        }
        @include animate(fadeInRed, 1.5s, ease, 1);
      }
      &.leaving {
        @include keyframes(fadeOut){
          0% { opacity: 1; }
          100% { opacity: 0; }
        }
        @include animate(fadeOut, 1.5s, ease, 1);
      }
    }

    &__desc {
        @include text;
        max-width: 97%;
        margin-top: 30px;
        @include responsiveness(tab-land) {
          max-width: none;
        }
    }

    &__action_wrapper {
        @include row(flex-start);
        margin-top: 30px;
        width: 100%;;
    }
    &__divider {
        margin: 0 10px;
    }

    &__bg {
      position: absolute;
      width: 40%;
      right: 0;
      top: 80px;
      height: 100%;
      z-index: 1;
      background-image: url('/images/background.svg');
      background-position: center;
      background-size: cover;
    }
    &__img-wrapper {
      position: relative;
      z-index: 2;
      @include responsiveness(phone-sm) {
        display: none;
      }
    }
    &__img {
      display: none;
      @include responsiveness(phone-sm) {
        display: block;
        margin-top: 50px;
        position: relative;
        z-index: 2;
      }
    }
    &__box {
      @include row(center);
      max-height: 55.17px;
      background: rgba(255, 255, 255, 0.5);
      border: 1px solid #EAE7FF;
      backdrop-filter: blur(5px);
      border-radius: 10px;
      position: absolute;
      @include responsiveness(phone-sm){
        display: none;
      }
      &.top {
        right: 50px;
        // top: 40px;
        max-width: 221.79px;
        padding: 10px 14px;
        @include keyframes(movement){
          0% {
            top: 10px;
          }
          10% {
            top: 20px;
          }
          30% {
            top: 30px;
          }
          50% {top: 50px}
          70% {
            top: 30px;
          }
          90%{top: 20px}
          100% {
            top: 10px;
          }
        }
        @include animate(movement, 5s, linear, infinite);
      }
      &.bottom {
        bottom: 110px;
        max-width: 280px;
        padding: 10px 18px;
        @include keyframes(movement-bottom){
          0% {
            bottom: 110px;
          }
          10% {
            bottom: 90px;
          }
          30% {
            bottom: 80px;
          }
          50% {bottom: 70px}
          70% {
            bottom: 80px;
          }
          90%{bottom: 90px}
          100% {
            bottom: 110px;
          }
        }
        @include animate(movement-bottom, 4s, linear, infinite);
      }
    }
    &__box-sm {
      display: none;
      @include responsiveness(phone-sm){
        display: block;
        @include row(center);
        max-height: 55.17px;
        background: rgba(255, 255, 255, 0.5);
        border: 1px solid #EAE7FF;
        backdrop-filter: blur(5px);
        border-radius: 10px;
        position: absolute;
      }
      &.top {
          top: 67vh;
          right: 40px;
          padding: 10px;
          max-width: 200px;
          @include keyframes(movement-sm){
            0% {
              top: 67vh;
            }
            10% {
              top: 68vh;
            }
            30% {
              top: 69vh;
            }
            50% {top: 70vh}
            70% {
              top: 69vh;
            }
            90%{top: 68vh}
            100% {
              top: 67vh;
            }
          }
          @include animate(movement-sm, 5s, linear, infinite);
          @include responsiveness(phone-tiny){
            top: 76vh;
            right: 30px;
            max-width: 190px;
            @include keyframes(movement-sm){
              0% {
                top: 76vh;
              }
              10% {
                top: 75vh;
              }
              30% {
                top: 74vh;
              }
              50% {top: 73vh}
              70% {
                top: 74vh;
              }
              90%{top: 75vh}
              100% {
                top: 76vh;
              }
            }
            @include animate(movement-sm, 5s, linear, infinite);
          }
          
        }
      &.bottom {
          top: 97vh;
          padding: 23px 12px;
          max-width: 230px;
          left: 10px;
          @include keyframes(movement-sm-bottom){
            0% {
              top: 97vh;
            }
            10% {
              top: 98vh;
            }
            30% {
              top: 99vh;
            }
            70% {
              top: 99vh;
            }
            90%{top: 98vh}
            100% {
              top: 97vh;
            }
          }
          @include animate(movement-sm-bottom, 5s, linear, infinite);
          @include responsiveness(phone-tiny){
            top: 107vh;
            max-width: 220px;
            @include keyframes(movement-sm-bottom){
              0% {
                top: 107vh;
              }
              10% {
                top: 108vh;
              }
              30% {
                top: 109vh;
              }
              70% {
                top: 109vh;
              }
              90%{top: 108vh}
              100% {
                top: 107vh;
              }
            }
            @include animate(movement-sm-bottom, 5s, linear, infinite);
          }
      }
    }
    &__box-text {
      font-family: $font-secondary;
      font-size: 12px;
      line-height: 150%;
      color: #7D7D7D;
      @include responsiveness(phone) {
        font-size: 10px;
        line-height: 135%;
      }
    }

    &__box-text-inner {
      color: $color-black;
      font-weight: 600;
    }
  }