.hero {
    @include row(center);
    height: 100vh;
    background-color: $color-white;
    width: 100%;

    &__wrapper {
      @include row(space-between);
      @include responsiveness(tablet) {
        @include column(space-between);
        margin-top: 200px;
      }
    }

    &__content {
        max-width: 60%;
        @include responsiveness(tablet) {
          max-width: 100%;
        }
    }

    &__title {
        @include title;
        line-height: 90px;
    }

    &__desc {
        @include text;
        max-width: 80%;
        margin-top: 30px;
        @include responsiveness(tablet) {
          max-width: none;
        }
    }

    &__action_wrapper {
        @include row(flex-start);
        margin-top: 30px;
        width: 100%;;
    }
    &__divider {
        margin: 0 10px;
    }

    &__image {
      @include responsiveness(tablet) {
        width: 350px;
        height: 500px;
      }
      @include responsiveness(phone) {
        width: 250px;
        height: 400px;
      }
    }
  }