.home {
    height: 100vh;
    background: $color-home-bg;
    font-family: $font-secondary;

    @include responsiveness(phone) {
        min-height: 100vh;
        height: fit-content;
        padding-bottom: 30px;
    }

    @include responsiveness(phone-tiny) {
        padding-bottom: 150px;
    }

    &__bg-image {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        background-image: url('/images/bg1.svg');
        background-position: center;
        background-size: cover;
        background-repeat: repeat;
        height: 100%;
        width: 100%;
        opacity: 0.5;
    }

    &__bg-image2 {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        background-image: url('/images/rectangle.svg');
        background-position: center;
        background-size: cover;
        height: 100%;
        width: 100%;
    }

    &__nav {
        height: 10vh;
        @include row(space-between);
        position: relative;
        z-index: 3;
        padding-top: 51.5px;
        @include responsiveness(phone) {
            padding-top: 30px;
            @include row(center);
        }
    }

    &__logo {
        @include row(center);
        gap: 12px;
    }

    &__logo-title {
        color: $color-white;
        font-weight: 400;

        @include responsiveness(phone) {
            display: none;
        }
    }

    &__wrapper {
        position: relative;
        z-index: 3;
        height: 90vh;
        @include column(space-between);

        @include responsiveness(phone) {
            @include column(flex-start);
        }
    }

    &__nav-links {
        @include row(center);
        gap: 12px;
        @include responsiveness(phone){
            display: none;
        }
    }

    &__nav-links-mobile {
        display: none;
        @include responsiveness(phone){
            display: flex;
            @include row(center);
            gap: 12px;
        }
    }

    &__nav-link {
        @include row(center);
        padding: 10px;
        width: 50px;
        height: 49px;
        background: rgba(255, 77, 106, 0.1);
    }

    &__title-wrapper {
        padding-top: 37px;
        @include column(center);
        @include responsiveness(tab-land) {
            padding-top: 100px;
        }
        @include responsiveness(phone) {
            padding-top: 60px;
        }
        @include responsiveness(phone-tiny) {
            padding-top: 20px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 80px;
        line-height: 110.5%;
        color: $color-white;
        max-width: 60%;
        text-align: center;
        font-family: $font-secondary;
        &.sub {
            max-width: 90%;
            @include row(flex-start);
            gap: 20px;
            @include responsiveness(phone) {
                max-width: 100%;
            }
        }
        @include responsiveness(tab-land) {
            max-width: 80%;
        }
        @include responsiveness(tablet) {
            font-size: 55px;
        }
        @include responsiveness(phone) {
            max-width: 100%;
            line-height: 110.5%;
            font-size: 35px;
        }
        @include responsiveness(phone-tiny) {
            font-size: 32px;
        }
    }

    &__title-sub {
        text-align: left;
        &.red {
            color: #FF4D6A;
        }
        &.green {
            color: #7CFFA0;
        }
        &.yellow {
            color: #FFCB4B;
        }
    }

    &__title-desc {
        margin-top: 20px;
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;
        text-align: center;
        color: #ACACAC;
        max-width: 53%;
        text-align: center;
        font-family: $font-secondary;
        @include responsiveness(tab-land) {
            max-width: 80%;
        }
        @include responsiveness(phone) {
            max-width: 100%;
            font-size: 16px;
        }
    }

    &__button-wrapper {
        margin-top: 38px;
        @include row(center);
        @include responsiveness(phone) {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        @include responsiveness(phone-tiny) {
            margin-top: 20px;
        }
    }

    &__img {
        object-fit: contain;
        @include responsiveness(tab-land) {
            width: 90%;
        }
        @include responsiveness(phone) {
            display: none;
        }
    }

    &__img-mobile {
        display: none;
        @include responsiveness(phone) {
            margin-top: 20px;
            display: block;
        }
    }
    &__num {
        transition: width 0.3s ease-in-out;
    }
    &__community {
        display: none;
        display: block;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #ACACAC;
        margin-top: 42px;
        margin-bottom: 26px;
    }

    &__success {
        @include column(center);
    }
    &__success-icon {
        font-weight: 700;
        font-size: 50px;
        margin-top: 20px;
    }
    &__success-title {
        font-weight: 700;
        font-size: 50px;
        line-height: 100%;
        color: #D5D5D5;
        text-align: center;
        margin: 20px 0;
        @include responsiveness(phone) {
            font-size: 35px;
        }
    }
    &__success-desc {
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: #ACACAC;
        text-align: center;
        max-width: 80%;
        @include responsiveness(phone) {
            max-width: 90%;
            font-size: 16px;
        }
    }
    &__success-share {
        @include row(center);
        width: 100%;
        gap: 20px;
        margin-top: 40px;
        @include responsiveness(phone) {
            @include column(center);
        }
    }
}

.mobile {
    display: none;
    @include responsiveness(phone) {
        display: block;
    }
}