.home {
    height: 100vh;
    background: $color-home-bg;

    &__bg-image {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        background-image: url('/images/bg1.svg');
        background-position: center;
        background-size: cover;
        background-repeat: repeat;
        height: 100%;
        width: 100%;
        opacity: 0.5;
    }

    &__bg-image2 {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        background-image: url('/images/rectangle.svg');
        background-position: center;
        background-size: cover;
        height: 100%;
        width: 100%;
    }

    &__nav {
        height: 10vh;
        @include row(space-between);
        position: relative;
        z-index: 3;
        padding-top: 51.5px;
        @include responsiveness(phone) {
            padding-top: 30px;
        }
    }

    &__logo {
        @include row(center);
        gap: 12px;
    }

    &__logo-title {
        color: $color-white;
        font-weight: 400;
    }

    &__wrapper {
        position: relative;
        z-index: 3;
        height: 90vh;
        @include column(space-between);
    }

    &__nav-links {
        @include row(center);
        gap: 12px;
        @include responsiveness(phone){
            display: none;
        }
    }

    &__nav-link {
        @include row(center);
        padding: 10px;
        width: 50px;
        height: 49px;
        background: rgba(255, 77, 106, 0.1);
    }

    &__title-wrapper {
        padding-top: 37px;
        @include column(center);
        @include responsiveness(tab-land) {
            padding-top: 100px;
        }
        @include responsiveness(phone-tiny) {
            padding-top: 20px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 80px;
        line-height: 110.5%;
        color: $color-white;
        max-width: 60%;
        text-align: center;
        font-family: $font-secondary;
        &.sub {
            max-width: 90%;
            @include row(flex-start);
            gap: 20px;
            @include responsiveness(phone) {
                max-width: 100%;
            }
        }
        @include responsiveness(tab-land) {
            max-width: 80%;
        }
        @include responsiveness(tablet) {
            font-size: 55px;
        }
        @include responsiveness(phone) {
            max-width: 100%;
            line-height: 110.5%;
            font-size: 35px;
        }
        @include responsiveness(phone-tiny) {
            font-size: 32px;
        }
    }

    &__title-sub {
        text-align: left;
        @include responsiveness(phone) {
            width: 160px;
        }
        &.red {
            color: #FF4D6A;
        }
        &.green {
            color: #7CFFA0;
        }
        &.yellow {
            color: #FFCB4B;
        }
    }

    &__title-desc {
        margin-top: 20px;
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;
        text-align: center;
        color: #ACACAC;
        max-width: 53%;
        text-align: center;
        font-family: $font-secondary;
        @include responsiveness(tab-land) {
            max-width: 80%;
        }
        @include responsiveness(phone) {
            max-width: 100%;
            font-size: 16px;
        }
    }

    &__button-wrapper {
        margin-top: 38px;
        @include row(center);
        @include responsiveness(phone) {
            margin-top: 40px;
        }
        @include responsiveness(phone-tiny) {
            margin-top: 20px;
            margin-bottom: 30px;
        }
    }

    &__button {
        @include row(center);
        padding: 16px 30px;
        height: 50px;
        background: #86303E;
        border: 1px solid #FF4D6A;
        gap: 10px;
        cursor: pointer;
        transition: all 0.3s ease-in;
    }

    &__button .home__button-arrow {
        transition: all 0.3s ease-in;
    }

    &__button:hover {
        background: #712531;
    }

    &__button:hover .home__button-arrow {
        transform: rotate(45deg);
        transition: all 0.3s ease-in;
    }

    &__button-text {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #DFB791;
        font-family: $font-secondary;
    }

    &__img {
        object-fit: contain;
        @include responsiveness(tab-land) {
            width: 90%;
        }
        @include responsiveness(phone) {
            width: 90%;
            object-fit: fill;
        }
    }
    &__num {
        transition: width 0.3s ease-in-out;
    }
}