.teams {
   padding: 50px 0;
   margin-top: 350px;

   @include responsiveness(tab-land) {
    margin-top: 1100px;
  }

  @include responsiveness(phone) {
    margin-top: 940px;
  }

  @include responsiveness(phone-tiny) {
    margin-top: 1100px;
  }


   &__title {
        @include title;
        max-width: 432px;
        @include responsiveness(phone) {
            max-width: 75%;
        }
    }

    &__desc {
        @include text;
        max-width: 40%;
        margin-top: 30px;
        margin-bottom: 70px;
        @include responsiveness(tab-land) {
            max-width: none;
            margin-bottom: 50px;
        }
        @include responsiveness(phone) {
            margin-bottom: 30px;
        }
    }

    &__wrapper {
        width: 100%;
        @include row(space-between);
        flex-wrap: wrap;
        row-gap: 200px;
        @include responsiveness(tablet) {
          gap: 10px;
          }
          @include responsiveness(phone) {
            gap: 1px;
            row-gap: 80px;
          }
    }

    &__image {
        @include responsiveness(tablet) {
          object-fit: cover;
            width: 150px;
            height: 250px;
          }
          @include responsiveness(phone) {
            width: 150px;
            height: 200px;
          }
    }
    &__image-wrapper {
      position: relative;
      @include column(center);
    }
    &__image-details {
      min-height: 50px;
      width: 100%;
      background: $color-black;
      position: absolute;
      padding: 19px 24px;
      bottom: -80px;
      @include row(space-between);
      align-items: flex-start;
      @include responsiveness(tablet) {
        bottom: -43px;
       }
      @include responsiveness(phone) {
        bottom: -47px;
       }
    }
    &__name {
      font-weight: 800;
      font-size: 20px;
      line-height: 120%;
      color: $color-white;
      font-family: $font-secondary;
      @include responsiveness(tablet) {
        font-size: 13px;
       }
      @include responsiveness(phone) {
       font-size: 11px;
      }
    }
    &__first-name {
      font-weight: 400;
    }
    &__role {
      font-size: 16px;
      line-height: 120%;
      color: #D2D2D2;
      margin-top: 12.05px;
      @include responsiveness(tablet) {
        font-size: 11px;
       }
      @include responsiveness(phone) {
       font-size: 9px;
      }
    }
    &__link-wrapper {
      @include row(center);
      width: 44px;
      height: 44px;
      border-radius: 44px;
      cursor: pointer;
      @include responsiveness(phone){
        width: 30px;
        height: 30px;
        border-radius: 30px;
      }
      :hover {
        @include keyframes(arrowMovement){
          from {
            transform: rotate(0);
          }
          to {
            transform: rotate(45deg);
          }
        }
        @include animate(arrowMovement, .3s, ease, 1);
      }
      &.blue {
        background: #4053FF;
      }
      &.orange {
        background: #FF6996;
      }
      &.purple {
        background: #6D39FF;
      }
      &.yellow {
        background: #FEB80A;
      }
    }
  }