.usecase {
    height: 80vh;
    background: $color-bg2;
    padding-top: 79px;
    @include responsiveness(tablet) {
        padding-top: 50px;
      }

    &__wrapper {
        height: 100%;
        position: relative;
    }
    &__bg {
        position: absolute;
        height: 70%;
        width: 100%;
        bottom: 3px;
        background-image: url('/images/use-case-bg.svg');
        z-index: 1;
        background-repeat: no-repeat;
    }
    &__content {
        z-index: 999;
        @include row(space-between);
        align-items: flex-start;
        @include responsiveness(tab-land){
            @include column(space-between);
        }
    }
    &__left {
        max-width: 55%;
        position: relative;
        @include responsiveness(tab-land){
            max-width: none;
        }
    }
    &__title {
        @include title;
    }

   &__desc {
        @include text;
        margin-top: 20px;
        margin-bottom: 55px;
        max-width: 84%;
        @include responsiveness(tablet) {
          max-width: 90%;
        }
        @include responsiveness(phone) {
            max-width: 97%;
          }
    }

    &__icons-wrapper {
        min-height: 370px;
        width: 590px;
        padding: 40px;
        background: $color-white;
        border: 1px dashed $color-border-dashed;
        position: relative;
        z-index: 4;
        border-radius: 16px;
        display: grid;
        gap: 40px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        justify-items: center;

        @include responsiveness(tablet) {
            width: 100%;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
            padding: 20px;
        }
    }
    &__connector {
        position: absolute;
        bottom: 250px;
        left: 590px;
        @include responsiveness(tab-land) {
            display: none;
        }
    }

    &__right {
        position: relative;
    }

    &__polygon {
        position: absolute;
        top: 10px;
        right: 215px;
        @include responsiveness(tab-land){
            right: 200px;
        }
        @include responsiveness(phone){
            top: 0px;
            right: -30px;
        }
    }

    &__dai {
        position: absolute;
        bottom: -100px;
        left: -255px;
        z-index: 4;
        @include responsiveness(tab-land){
            bottom: -80px;
            left: -95px;
        }
    }

    &__box {
        max-width: 282px;
        min-height: 55.17px;
        background: $color-box-bg;
        border: 1px solid $color-border-dashed;
        backdrop-filter: blur(5px);
        border-radius: 10px;
        padding: 9.5px 11.5px;
        &.box1 {
            position: absolute;
            top: 95px;
            left: -190px;
            @include responsiveness(tab-land){
                left: -130px;
            }
            @include responsiveness(phone){
                position: relative;
                top: 75px;
                left: 0;
            }
        }
        &.box2 {
            position: relative;
            top: 185px;
            right: 30px;
            @include responsiveness(tab-land){
                left: 10px;
            }
            @include responsiveness(phone){
                top: 97px;
                left: 40px;
            }
        }
    }

    &__box-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: $color-box-text;
    }

    &__bold {
        color: $color-black;
        font-weight: 600;
    }

    &__phone-image {
        position: relative;
        z-index: 4;
        top: 260px;
        right: 160px;
        @include responsiveness(tab-land) {
          right: 0px;
          top: 270px;
          width: 100%;
        }
        @include responsiveness(tablet) {
          right: 0px;
        }
        @include responsiveness(phone) {
            top: 170px;
          height: 500px;
          right: 0px;
        }
      }
}