.container {
  max-width: $grid-width;
  margin: 0 auto;
  padding: 0 3.2rem;
  @include responsiveness(phone) {
    padding: 0 25px;
  }
}

.container-left {
  margin-left: 95px;
  @include responsiveness(tab-land) {
    margin-left: 0;
  }
  @include responsiveness(phone) {
    margin-left: 0;
    padding: 0 25px;
  }
}