$color-action: #11484C;
$color-action-text: #1B1B1B;
$color-box-text: #7D7D7D;

$color-black: #000000;
$color-black-neutral: #454545;
$color-white: #FFFFFF;
$color-white-alt: #B8B8B8;

$color-bg2: linear-gradient(180deg, #F2F0FF 0%, rgba(242, 240, 255, 0) 100%);
$color-body-grey: #7C83A3;
$color-box-bg: rgba(255, 255, 255, 0.5);
$color-faqs-bg: #FAF7FA;
$color-bg: #FAF7FA;
$color-home-bg: #000000;

$color-border-gray: #EAE7FF;
$color-border-dashed: #9788FF;

$grid-width: 1440px;
$grid-width-normal: 1140px;
$grid-width-medium: 960px;
$grid-width-tablet: 720px;
$grid-width-small: 540px;
$grid-width-extra-small: 400px;

//1440px

// MEDIA SIZE
$bp-xxl: 2500px;
$bp-xl: 1440px;
$bp-large: 75em; // 1200px;
$bp-large: 68.75em; // 1100px;
$bp-large-medium: 62.5em;  // 1000px;
$bp-medium: 56.25em; // 900px;
$bp-medium-small: 48em; // 768px;
$bp-small: 37.5em; // 600px;
$bp-smallest: 31.25em; // 500px;
$bp-smallest-small: 30em; // 480px;
$bp-tiny: 375px;

$font-main: 'Brutal Type';
$font-secondary: 'Helvetica Now';