$color-action: #11484C;
$color-action-text: #1B1B1B;

$color-black: #000000;
$color-black-neutral: #454545;
$color-white: #FFFFFF;

$color-bg: #F7F6FF;
$color-body-text: #9FA5C0;
$color-body-grey: #7C83A3;

$color-border-gray: #EAE7FF;

$grid-width: 1400px;
$grid-width-normal: 1140px;
$grid-width-medium: 960px;
$grid-width-tablet: 720px;
$grid-width-small: 540px;
$grid-width-extra-small: 400px;

// MEDIA SIZE
$bp-large: 75em; // 1200px;
$bp-large: 68.75em; // 1100px;
$bp-large-medium: 62.5em;  // 1000px;
$bp-medium: 56.25em; // 900px;
$bp-medium-small: 48em; // 768px;
$bp-small: 37.5em; // 600px;
$bp-smallest: 31.25em; // 500px;
$bp-smallest-small: 30em; // 480px;

$font-main: 'Brutal Type';
$font-secondary: 'Helvetica Now';