.button {
  border: 1px solid #FF4D6A;
  background: #86303E;
  color: #DFB791;
  font-size: 16px;
  font-weight: 600;
  height: 56px;
  padding: 16px 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  &.outline {
    background: $color-white;
    color: $color-action-text;
    border: 1px solid $color-border-gray;
  }
  &.secondary {
    background: #00ACEE;
    color: $color-black;
    border: none;
  }
  &.tertiary {
    background: #7289DA;
    color: $color-black;
    border: none;
  }
  &.full {
    width: 100%;
  }
  &__wrapper {
    @include row(center);
  }

  &__icon {
    transition: all 0.3s ease;
    margin-left: 9.5px;
  }
}

.button:hover {
  background: #712531;
  &.secondary {
    background: #068abe;
  }
  &.tertiary {
    background: #4e65b8;
  }
}

.button:hover .button__icon {
  transform: rotate(45deg);
  transition: all 0.3s ease;
}