.button {
  border: none;
  background: $color-action;
  color: $color-white;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 700;
  height: 52px;
  padding: 0 30px;
  cursor: pointer;
  transition: all 0.2s ease;
  @include responsiveness(phone) {
    font-size: 13px;
    font-weight: 600;
    padding: 0 20px;
  }
  &.outline {
    background: $color-white;
    color: $color-action-text;
    border: 1px solid $color-border-gray;
  }
  &__wrapper {
    @include row(center);
  }
  &__text {
    &.icon {
      margin-right: 9.5px;
    }
  }
}