.button {
  border: 1px solid #FF4D6A;
  background: #86303E;
  color: #DFB791;
  font-size: 16px;
  font-weight: 700;
  height: 56px;
  padding: 16px 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  &.outline {
    background: $color-white;
    color: $color-action-text;
    border: 1px solid $color-border-gray;
  }
  &.full {
    width: 100%;
  }
  &__wrapper {
    @include row(center);
  }
  &__text {
    &.icon {
      margin-right: 9.5px;
    }
  }

  &__icon {
    transition: all 0.3s ease;
  }
}

.button:hover {
  background: #712531;
}

.button:hover .button__icon {
  transform: rotate(45deg);
  transition: all 0.3s ease;
}