// Brutal Type
@font-face {
    font-family:'Brutal Type';
    src: url('../asset/BrutalType/BrutalType-ExtraLight.ttf');
    src: url('../asset/BrutalType/BrutalType-ExtraLight.eot');
    src: url('../asset/BrutalType/BrutalType-ExtraLight.woff');
    src: url('../asset/BrutalType/BrutalType-ExtraLight.woff2');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family:'Brutal Type';
    src: url('../asset/BrutalType/BrutalType-Light.ttf');
    src: url('../asset/BrutalType/BrutalType-Light.eot');
    src: url('../asset/BrutalType/BrutalType-Light.woff');
    src: url('../asset/BrutalType/BrutalType-Light.woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family:'Brutal Type';
    src: url('../asset/BrutalType/BrutalType.ttf');
    src: url('../asset/BrutalType/BrutalType.eot');
    src: url('../asset/BrutalType/BrutalType.woff');
    src: url('../asset/BrutalType/BrutalType.woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Brutal Type';
    src: url('../asset/BrutalType/BrutalType-Medium.ttf');
    src: url('../asset/BrutalType/BrutalType-Medium.eot');
    src: url('../asset/BrutalType/BrutalType-Medium.woff');
    src: url('../asset/BrutalType/BrutalType-Medium.woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Brutal Type';
    src: url('../asset/BrutalType/BrutalType-Bold.ttf');
    src: url('../asset/BrutalType/BrutalType-Bold.eot');
    src: url('../asset/BrutalType/BrutalType-Bold.woff');
    src: url('../asset/BrutalType/BrutalType-Bold.woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Brutal Type';
    src: url('../asset/BrutalType/BrutalType-ExtraBold.ttf');
    src: url('../asset/BrutalType/BrutalType-ExtraBold.eot');
    src: url('../asset/BrutalType/BrutalType-ExtraBold.woff');
    src: url('../asset/BrutalType/BrutalType-ExtraBold.woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Brutal Type';
    src: url('../asset/BrutalType/BrutalType-ExtraBold.ttf');
    src: url('../asset/BrutalType/BrutalType-ExtraBold.eot');
    src: url('../asset/BrutalType/BrutalType-ExtraBold.woff');
    src: url('../asset/BrutalType/BrutalType-ExtraBold.woff2');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Brutal Type';
    src: url('../asset/BrutalType/BrutalType-Black.ttf');
    src: url('../asset/BrutalType/BrutalType-Black.eot');
    src: url('../asset/BrutalType/BrutalType-Black.woff');
    src: url('../asset/BrutalType/BrutalType-Black.woff2');
    font-weight: 900;
    font-style: normal;
}

// Helvetica Now
@font-face {
    font-family:'Helvetica Now';
    src: url('../asset/HelveticaNow/HelveticaNowDisplay-ExtLt.ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family:'Helvetica Now';
    src: url('../asset/HelveticaNow/HelveticaNowDisplay-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family:'Helvetica Now';
    src: url('../asset/HelveticaNow/HelveticaNowDisplay-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family:'Helvetica Now';
    src: url('../asset/HelveticaNow/HelveticaNowDisplay-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family:'Helvetica Now';
    src: url('../asset/HelveticaNow/HelveticaNowDisplay-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family:'Helvetica Now';
    src: url('../asset/HelveticaNow/HelveticaNowDisplay-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family:'Helvetica Now';
    src: url('../asset/HelveticaNow/HelveticaNowDisplay-Black.ttf');
    font-weight: 900;
    font-style: normal;
}