@import "./fonts.scss";
@import "./abstract";
@import "./components";

html {
  box-sizing: border-box;
}

body {
  font-family: $font-main;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a:link,
a:hover,
a:visited {
  text-decoration: none;
}

button:focus {
  outline: none;
}